body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, #0c1158 0%, #6a081b 50%, #343953 100%);
}
#container {
  background: black;
  max-width: 1440px;
  max-height: 780px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 49px 33px rgba(0, 0, 0, 0.514);
}
#left {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 80%;
  height: 100%;
}
#right {
  display: flex;
  justify-content: right;
  align-items: center;
  width: auto;
  height: 100%;
  overflow: hidden;
}
#right img {
  max-width: 900px;
  height: 780px;
}
#logo {
  max-width: 389px;
  max-height: 94px;
  margin-left: 30px;
  margin-top: 50px;
}
#logo img {
  width: auto;
  height: auto;
}
#text {
  max-width: 647px;
  height: auto;
  margin-left: 36px;
  margin-top: 92px;
}
h1 {
  max-width: 450px;
  height: auto;
  color: var(--Green, #08c05e);
  font-family: Work Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
}
h2 {
  max-width: 100%;
  height: auto;
  color: #fff;
  font-family: Spartan;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
p {
  max-width: 100%;
  height: auto;
  color: #fff;
  font-family: Spartan;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 138.735%;
  flex-shrink: 0;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 17px;
  position: relative;
  width: 100%;
  height: 84px;
  margin-left: 36px;
  margin-top: 56px;
  z-index: 1;
}
span {
  color: #a8a8a8;
  font-family: Spartan;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 138.735%;
}
input {
  width: auto;
  height: 48px;
  border-left: 6px solid #04d361;
  font-size: 20px;
  overflow: hidden;
  text-indent: 20px;
}
input[type="email"]:hover {
  background-color: #cac9c92d;
  border: none;
  border-left: 6px solid #04d361;
}
input[type="email"]:focus {
  background-color: #8257e5;
  color: black;
  border: none;
  outline: none;
}
::placeholder {
  font-size: 20px;
  text-indent: 20px;
  color: black;
}
form button {
  position: absolute;
  width: 48px;
  height: 48px;
  right: 0;
  bottom: 0;
  background: #8257e5;
  cursor: pointer;
}
#link {
  width: auto;
  margin-left: 36px;
  margin-top: 52px;
}
#link a {
  width: 167px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  color: var(--Purple, #8257e5);
  font-family: Spartan;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 138.735%;
  text-decoration: none;
  margin: 0;
}
#enviado {
  position: absolute;
  max-width: 1440px;
  max-height: 780px;
  z-index: 2;
  background: transparent;
  display: none;
}
#enviado img {
  border-radius: 20px;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
#enviado button {
  background: transparent;
  border-radius: 20px;
  width: auto;
  height: auto;
  display: flex;
  z-index: 3;
  border: none;
}
@media only screen and (max-width: 1440px) {
  body {
    margin: auto;
  }
  #container {
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 20px;
  }
  h1,
  h2,
  p {
    max-width: auto;
    margin-left: 0;
    padding: 0 10px;
  }
  #left {
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
  }

  #right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    max-height: auto;
  }
  form {
    max-width: 100%;
    height: 100%;
    margin: 36px 10px;
  }
  #right img {
    width: 100%;
    height: 100%;
  }
  #logo {
    align-items: center;
    width: auto;
    margin-left: 0;
    padding: 0 10px;
  }
  #logo img {
    width: 100%;
    height: auto;
  }
  span {
    margin-top: auto;
  }
  #text {
    margin-left: 0;
  }
  #link a {
    margin-bottom: 20px;
    margin-left: 0;
  }
  #enviado {
    margin: 15px;
  }
}




